<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find my_robo_description)/config/quadruped_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/quadruped" args="
	joint_state_controller
	sholder1_joint_controller
	sholder2_joint_controller
	sholder3_joint_controller
	sholder4_joint_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/quadruped/joint_states" />
  </node>
</launch>
